#### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

#### Importing data

In [2]:
path = r"C:\Users\tseki\Documents\Learning\Careerfoundry\Data immersion\Achievement 4\Instacart Basket Analysis 8-6-22"

In [3]:
df_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared data', 'customers_ords_prods_combined.pkl'))

In [5]:
# Creating crosstab

crosstab = pd.crosstab(df_combined['days_since_prior_order'], df_combined['order_number'], dropna = False)

In [6]:
# Copying crosstab to clipboard

crosstab.to_clipboard()

In [7]:
df_combined.head()

,user_id,First Name,Surname,Gender,STATE,Age,date_joined,no_of_dependants,family_status,income,...,reordered,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days_since_prior_order,frequency_flag,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,0,Busiest day,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,1,Regularly busy,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer,both
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,1,Busiest day,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer,both
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,0,Regularly busy,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer,both
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,1,Least busy,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer,both

In [8]:
df_combined.columns

Index(['user_id', 'First Name', 'Surname', 'Gender', 'STATE', 'Age',
       'date_joined', 'no_of_dependants', 'family_status', 'income',
       'product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'order_number', 'orders_day_of_week', 'order_hour_of_day',
       'days_since_prior_order', 'new_customer', 'add_to_cart_order',
       'reordered', 'busiest_days', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'average_price', 'spending_flag',
       'median_days_since_prior_order', 'frequency_flag', '_merge'],
      dtype='object')

In [9]:
df_combined['days_since_prior_order'].head(10)

0    30.0
1    11.0
2    10.0
3     NaN
4    30.0
5    19.0
6    30.0
7    21.0
8    11.0
9    10.0
Name: days_since_prior_order, dtype: float16

In [10]:
df_combined['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [11]:
df_combined['frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

In [14]:
df_combined[['days_since_prior_order', 'median_days_since_prior_order']].head(10)

   days_since_prior_order  median_days_since_prior_order
0                    30.0                           19.0
1                    11.0                           19.0
2                    10.0                           19.0
3                     NaN                           19.0
4                    30.0                           19.0
5                    19.0                           19.0
6                    30.0                           19.0
7                    21.0                           19.0
8                    11.0                           19.0
9                    10.0                           19.0

In [15]:
df_combined['family_status'].value_counts(dropna = False)

married                             22756753
single                               5325691
divorced/widowed                     2771812
living with parents and siblings     1550603
Name: family_status, dtype: int64