### Table of content

#### 1. Importing libraries

#### 2. Importing data

#### 3. Merging data

#### 4. Exporting data

### 1. Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

### 2. Importing data

In [2]:
# Defining path
path = r"C:\Users\tseki\Documents\Learning\Careerfoundry\Data immersion\Achievement 4\Instacart Basket Analysis 8-6-22"

In [4]:
df_orders_products_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared data', 'orders_products_combined.pkl'))

In [5]:
# Checking shape
df_orders_products_combined.shape

(32434489, 11)

In [11]:
# importing products dataset
df_products_clean = pd.read_csv(os.path.join(path, 'Data', 'Prepared data', 'products_clean.csv'), index_col = [0])

In [12]:
# Checking output
df_products_clean.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [15]:
df_products_clean.shape

(49672, 5)

In [13]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

### 3. Merging data

In [18]:
# Dropping the _merge column
df_orders_products_combined.drop(columns = '_merge', inplace = True)

In [19]:
# Checking output
df_orders_products_combined.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered'],
      dtype='object')

In [20]:
# Merging df_products_clean and df_orders_products_combined at product_id using the default how=inner

df_ords_prods_merged = df_products_clean.merge(df_orders_products_combined, on = 'product_id', indicator = True)

In [21]:
df_ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both

In [22]:
df_ords_prods_merged.shape

(32404859, 15)

In [23]:
df_ords_prods_merged['_merge'].value_counts(dropna = False)

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

### 4. Exporting data

In [24]:
df_ords_prods_merged.to_pickle(os.path.join(path, 'Data', 'Prepared data', 'orders_products_merged.pkl'))