### Table of content

#### 1. Importing libraries

#### 2. Importing data

#### 3. Question & Answers

#### 4. Exporting data

### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

### Importing data

In [2]:
path = r"C:\Users\tseki\OneDrive\Documents\Careerfoundry\Data immersion\Achievement 4\Instacart Basket Analysis 8-6-22"

In [3]:
df_customer = pd.read_csv(os.path.join(path, 'Data', 'Original data','customers.csv'))

In [4]:
# Checking characteristics of df_customer 

df_customer.head(5)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
df_customer.shape

(206209, 10)

In [6]:
df_customer.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [7]:
# Changing datatype to reduce memory usage

df_customer['user_id'] = df_customer['user_id'].astype('int32')
df_customer['Age'] = df_customer['Age'].astype('int8')
df_customer['n_dependants'] = df_customer['n_dependants'].astype('int8')
df_customer['income'] = df_customer['income'].astype('int32')

In [8]:
# checking output

df_customer.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

##### Question 4: Wrangle the data

In [9]:
#Renaming column

df_customer.rename(columns = {'Surnam' : 'Surname', 'n_dependants' : 'no_of_dependants', 
                              'fam_status' : 'family_status'}, inplace = True)

##### Question 5: Data consistency checks

In [10]:
# Checking if there is any column with mixed data types

for col in df_customer.columns.tolist():
  weird = (df_customer[[col]].applymap(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customer[weird]) > 0:
    print (col)# Checking for mixed data type

First Name

In [11]:
# Since the above output says column 'first name' has mixed data type, i will convert it to string

df_customer['First Name'] = df_customer['First Name'].astype('str')

In [12]:
# After converting the above to string, i will run the code again to check for mixed data type

for col in df_customer.columns.tolist():
  weird = (df_customer[[col]].applymap(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customer[weird]) > 0:
    print (col)

In [13]:
# As seen from above, there isn't any mixed data type

In [14]:
df_customer.isnull().sum()

user_id             0
First Name          0
Surname             0
Gender              0
STATE               0
Age                 0
date_joined         0
no_of_dependants    0
family_status       0
income              0
dtype: int64

In [15]:
# From the result above, there are no missing values

In [16]:
# Checking for duplicate rows

df_dups = df_customer[df_customer.duplicated()]

In [17]:
df_dups

Empty DataFrame
Columns: [user_id, First Name, Surname, Gender, STATE, Age, date_joined, no_of_dependants, family_status, income]
Index: []

In [18]:
# From the result above, there are no duplicate rows

In [6]:
df_customer.shape

(206209, 10)

##### Question 6: Combine your customer data with the rest of your prepared Instacart data

In [19]:
# Import previous prepared aggregated data

df_ords_prods_aggregated2 = pd.read_pickle(os.path.join(path, 'Data', 'Prepared data', 'ords_prods_aggregated2.pkl'))

In [20]:
# Checking columns

df_ords_prods_aggregated2.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'add_to_cart_order', 'reordered', '_merge', 'busiest_day',
       'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'average_price', 'spending_flag', 'median_days_since_prior_order',
       'frequency_flag'],
      dtype='object')

In [21]:
# Dropping unneccesary  columns

df_ords_prods_aggregated2.drop(columns = {'_merge', 'busiest_day'}, inplace = True)

In [22]:
df_ords_prods_aggregated2.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days_since_prior_order,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,Busiest day,Regular orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,Least busy,Most orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,Least busy,Most orders,3,New customer,4.972414,Low spender,9.0,Frequent customer

In [23]:
# Checking data types of df_ords_prods_aggregated2

df_ords_prods_aggregated2.dtypes

product_id                         int64
product_name                      object
aisle_id                           int64
department_id                      int64
prices                           float64
order_id                           int32
user_id                            int32
order_number                        int8
orders_day_of_week                  int8
order_hour_of_day                   int8
days_since_prior_order           float16
new_customer                        bool
add_to_cart_order                  int32
reordered                           int8
busiest_days                      object
busiest_period_of_day             object
max_order                           int8
loyalty_flag                      object
average_price                    float64
spending_flag                     object
median_days_since_prior_order    float16
frequency_flag                    object
dtype: object

In [24]:
# Changing the data type

df_ords_prods_aggregated2['product_id'] = df_ords_prods_aggregated2['product_id'].astype('int32')
df_ords_prods_aggregated2['aisle_id'] = df_ords_prods_aggregated2['aisle_id'].astype('int8')
df_ords_prods_aggregated2['department_id'] = df_ords_prods_aggregated2['department_id'].astype('int8')
df_ords_prods_aggregated2['prices'] = df_ords_prods_aggregated2['prices'].astype('float16')
df_ords_prods_aggregated2['add_to_cart_order'] = df_ords_prods_aggregated2['add_to_cart_order'].astype('int8')
df_ords_prods_aggregated2['average_price'] = df_ords_prods_aggregated2['average_price'].astype('float16')

In [25]:
# Checking output

df_ords_prods_aggregated2.dtypes

product_id                         int32
product_name                      object
aisle_id                            int8
department_id                       int8
prices                           float16
order_id                           int32
user_id                            int32
order_number                        int8
orders_day_of_week                  int8
order_hour_of_day                   int8
days_since_prior_order           float16
new_customer                        bool
add_to_cart_order                   int8
reordered                           int8
busiest_days                      object
busiest_period_of_day             object
max_order                           int8
loyalty_flag                      object
average_price                    float16
spending_flag                     object
median_days_since_prior_order    float16
frequency_flag                    object
dtype: object

###### Attempting to merge

In [26]:
df_combined = df_customer.merge(df_ords_prods_aggregated2, on = 'user_id', indicator = True)

In [28]:
# checking the accuracy of the merge

df_combined['_merge'].value_counts(dropna = False)

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [27]:
df_combined.head()

,user_id,First Name,Surname,Gender,STATE,Age,date_joined,no_of_dependants,family_status,income,...,reordered,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days_since_prior_order,frequency_flag,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,0,Busiest day,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,1,Regularly busy,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer,both
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,1,Busiest day,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer,both
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,0,Regularly busy,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer,both
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,1,Least busy,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer,both

#### Exporting data

In [29]:
df_combined.to_pickle(os.path.join(path, 'Data', 'Prepared data', 'customers_ords_prods_combined.pkl'))